/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

h3{
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color:hsl(0, 0%, 95%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom:2em;
}


/* Layout */
html{
    height:100%;
}
body{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}
.container{
    width: 60%;
    min-width:600px;

}


img{
    margin-bottom: 2em;
    width:3em;
}

.btn{
    margin-bottom:1em;
    font-family: 'Lexend Deca', sans-serif;
    border-radius:30px;
    font-size:15px;
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    padding-left:1.2em;
    padding-right:1.2em;
    padding-top:0.4em;
    padding-bottom:0.4em;
    border: 1px solid hsl(0, 0%, 95%);
}
/* Styling */



.item-hl:nth-child(1){
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item-hl:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}

.item-hl:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sedanBtn{
    color:hsl(31, 77%, 52%);
}
.SUVBtn{
    color: hsl(184, 100%, 22%);
}
.luxBtn{
    color:hsl(179, 100%, 13%);
}

/* Active States */

.sedanBtn:hover, .SUVBtn:hover, .luxBtn:hover,
.sedanBtn:focus, .SUVBtn:focus, .luxBtn:focus,
.sedanBtn:active, .SUVBtn:active, .luxBtn:active {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

/* Media Queries */
@media (max-width: 600px) and (orientation: portrait) {

    body{
        height:100%;
        padding-top:4em;
        padding-bottom:4em;
    }
    .container{
        min-width: 300px;
        min-height: 75%;
    }
    .custom-flex-style{
        flex-direction: column;
    }
    p{
        margin-bottom:0;
    }
    br{
        font-size:0px;
    }
    .item-hl:nth-child(1){
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .item-hl:nth-child(3){
        border-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .attribution{
        display: none;
    }
}